<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/30b978ab-a9d6-4cf9-bb83-2b1e3ac3e6b3/resourceGroups/showcaseapps-staging/providers/Microsoft.Web/sites/supply-chain-linux-api</ResourceId>
    <ResourceGroup>showcaseapps-staging</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://supply-chain-linux-api-fycsdbdsenh4g4a0.westus2-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ed8f92cd-82cd-0220-9210-a65fa7501679</ProjectGuid>
    <PublishUrl>https://supply-chain-linux-api-fycsdbdsenh4g4a0.scm.westus2-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>